{% extends 'base.html' %}
{% load static %}
<head>
  <title>{% block title %}About{% endblock %}</title>
</head>
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

<!-- <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div class="load_title">About</div>
</div> -->

<section class="grey">
    <div class="container">
        <div class="row">
            <div class="top-nav2">
                <div class="col-md-9 col-sm-9 col-xs-6 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="50%">
                <span class="heading">About Us</span>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="50%">
                <span class="inner-link">
                <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
               </span>
                <span class="inner-link">About Us</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="70%">
        Who We Are</h1>
      </div>
    </div> <!--row for heading-->
    <div class="who-we-are">
      <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
         <img src="{% static 'images/banner1.png' %}" alt="featuted image" class="img-responsive"> 
        </div>
                  
          <div class="col-md-5 col-sm-5 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="65%" style="margin-top: 100px;">
          <h2>Fund Do's</h2>
          <p style="text-align: justify;">
          Our mission is to provide low-income job-seekers with an opportunity to look sharp and feel confident during interviews. Partnerships with local salons and barbershops allow us to support  motivated individuals while also helping our partners grow their businesses through showcasing their commitment to community improvement.
          </p>
              <!-- <ul><h3>We</h3>
                  <li>Donec ut elit urna</li>
                  <li>Libero posuere vulputate</li>
                  <li>Pellentesque orci lectus</li>
                  <li>Eget libero posuere vulputate</li>
              </ul> -->
          </div>
      </div>
    </div>
    
  </div> <!--CONTAINER-->
</section>

<br><br>

<!-- <section class="staff-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeInDown">Our Staff</h1>
      </div> -->
      
   <!--  </div>  --><!--row for heading-->
    
    <!-- <div class="our-staff">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="effects">
                    <div class="img">
                      <img src="images/staff1.png" alt="" class="img-responsive">
                      
                        <div class="overlay-abt">
                           <h2>Hannibal</h2>
                            <p><strong>Letterman</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt .</p>
                              <ul class="info">
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul> 
                        </div>
                   </div>
              </div>
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-12">
            	<div class="effects">
                    <div class="img">
                      <img src="images/staff2.png" alt="our staff here" class="img-responsive">
                      
                        <div class="overlay-abt">
                           <h2>Hannibal</h2>
                            <p><strong>Letterman</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt .</p>
                              <ul class="info">
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul> 
                        </div>
                   </div>
              </div>
                
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-12">
            	<div class="effects">
                    <div class="img">
                      <img src="images/staff3.png" alt="our staff here" class="img-responsive">
                      
                        <div class="overlay-abt">
                           <h2>Hatty Rase</h2>
                            <p><strong>Secretary</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt .</p>
                              <ul class="info">
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul> 
                        </div>
                   </div>
              </div>
                
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-12">
            	<div class="effects">
                    <div class="img">
                      <img src="images/staff4.png" alt="our staff here" class="img-responsive">
                      
                        <div class="overlay-abt">
                           <h2>Rita Lasker</h2>
                            <p><strong>Manager</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt .</p>
                              <ul class="info">
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul> 
                        </div>
                   </div>
              </div>
                
            </div>
            
        </div>
    </div>
     -->
  <!-- </div> --> <!--CONTAINER-->
<!-- </section> -->

<section class="need-help text-center">
    <div class="container padding">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                     <h1 class="jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeInDown">
                     We need your help</h1>
                     <hr class="yellow-diamond">
                     
                     <h4 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="80%">Let's provide jobseekers with a wonderful transformation to land their interviews!</h4>
            </div>
        </div>
    </div>
</section>



{% endblock %}

<script>
(function($) {
"use strict";
        if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".img").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".img").hasClass("hover")) {
                    $(this).closest(".img").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".img").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
})(jQuery);
</script>