{% extends 'base.html' %}
{% load static %}
<head>
  <title>{% block title %}About{% endblock %}</title>
</head>
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

<!-- <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div class="load_title">About</div>
</div> -->

<section class="grey">
    <div class="container">
        <div class="row">
            <div class="top-nav2">
                <div class="col-md-9 col-sm-9 col-xs-6 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="50%">
                <span class="heading">About Us</span>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="50%">
                <span class="inner-link">
                <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
               </span>
                <span class="inner-link">About Us</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="70%">
        Who We Are</h1>
      </div>
    </div> <!--row for heading-->
    <div class="who-we-are">
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
         <img src="{% static 'images/about-text.jpg' %}" alt="featuted image" class="img-responsive"> 
        </div>
                  
          <div class="col-md-7 col-sm-7 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="65%">
          <h2>Fund Do's</h2>
          <p style="text-align: justify;">
          Our mission is to provide low-income job-seekers with an opportunity to look sharp and feel confident during interviews. Partnerships with local salons and barbershops allow us to support  motivated individuals while also helping our partners grow their businesses through showcasing their commitment to community improvement.
          </p>
              <!-- <ul><h3>We</h3>
                  <li>Donec ut elit urna</li>
                  <li>Libero posuere vulputate</li>
                  <li>Pellentesque orci lectus</li>
                  <li>Eget libero posuere vulputate</li>
              </ul> -->
          </div>
      </div>
    </div>
    
  </div> <!--CONTAINER-->
</section>


<section class="staff-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeInDown">Our Staff</h1>
      </div>
      
    </div> <!--row for heading-->
    
    <div class="our-staff">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="effects">
                    <div class="img">
                      <img src="images/staff1.png" alt="" class="img-responsive">
                      
                        <div class="overlay-abt">
                           <h2>Hannibal</h2>
                            <p><strong>Letterman</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt .</p>
                              <ul class="info">
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul> 
                        </div>
                   </div>
              </div>
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-12">
            	<div class="effects">
                    <div class="img">
                      <img src="images/staff2.png" alt="our staff here" class="img-responsive">
                      
                        <div class="overlay-abt">
                           <h2>Hannibal</h2>
                            <p><strong>Letterman</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt .</p>
                              <ul class="info">
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul> 
                        </div>
                   </div>
              </div>
                
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-12">
            	<div class="effects">
                    <div class="img">
                      <img src="images/staff3.png" alt="our staff here" class="img-responsive">
                      
                        <div class="overlay-abt">
                           <h2>Hatty Rase</h2>
                            <p><strong>Secretary</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt .</p>
                              <ul class="info">
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul> 
                        </div>
                   </div>
              </div>
                
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-12">
            	<div class="effects">
                    <div class="img">
                      <img src="images/staff4.png" alt="our staff here" class="img-responsive">
                      
                        <div class="overlay-abt">
                           <h2>Rita Lasker</h2>
                            <p><strong>Manager</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt .</p>
                              <ul class="info">
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul> 
                        </div>
                   </div>
              </div>
                
            </div>
            
        </div>
    </div>
    
  </div> <!--CONTAINER-->
</section>

<section class="need-help text-center">
    <div class="container padding">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                     <h1 class="jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeInDown">
                     We need your help</h1>
                     <hr class="yellow-diamond">
                     
                     <h4 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="80%">Let's provide jobseekers with a wonderful transformation to land their interviews!</h4>
            </div>
        </div>
    </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="80%">
          <div class="shape"></div>
           <div id="donate">
           <div class="logo">
           <img src="{% static 'images/donate.png' %}" alt="logo goes here">
           </div>
           <p>
            lorem ipsum dolor sit amet, consecte tur adipiscing elit.
            Nulla ornare port titor diam, a accumsan justo laoreet.
            Lorem ipsum dolor sit amet, consecte.
           </p>
           
           <span class="glyphicon glyphicon-home pull-left"></span>
             <address>2, Sector-63, Noida, 201301, Africa</address>
           
           <span class="glyphicon glyphicon-envelope pull-left"></span>
            <em>123 900 123 456</em>
           <br>
           <span class="glyphicon glyphicon-earphone pull-left"></span>
            <a href="#">contact@donate.com</a> 
           <div class="shape"></div>
           </div>
      </div>
      
      <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-1 jw-animate-gen noOpacity" data-gen="fadeInUp" data-gen-offset="85%"> <!--for twitter feed columns-->
       <div id="twitter">
       <div class="shape"></div>
        <h3>INSTAGRAM FEED</h3>
        <p>
        <a href="#">@donate</a> Various versions have evolved over the years, 
        sometimes by accident, 
        sometimes on purpos. <br>
         <strong>2 hours ago </strong>
        </p>
        <p>
        <a href="#">@donate</a> Various versions have evolved over the years, 
        sometimes by accident, 
        sometimes on purpos.<br> 
        <strong>2 hours ago </strong> 
        </p>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-1 jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="75%">
      <div id="latest-work" class="pull-right">
       <div class="shape"></div>
        <h3><a href="{% url 'gallery' %}">GALLERY</a></h3>
        <!-- <img src="{{images.0}}" width="80" height="61"> -->
        <img src="{% static 'images/latest2.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest3.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest4.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest5.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest6.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest7.png' %}" width="80" height="61" alt="latest pictures">
        <!-- <img src="{% static 'images/latest8.png' %}" width="80" height="61" alt="latest pictures"> -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

<script>
(function($) {
"use strict";
        if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".img").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".img").hasClass("hover")) {
                    $(this).closest(".img").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".img").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
})(jQuery);
</script>