{% extends 'base.html' %}
{% load static %}
<head>
  <title>{% block title %}Contact{% endblock %}</title>
</head>
{% block body_block %}


<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">


<section class="grey">
    <div class="container">
        <div class="row">
            <div class="top-nav2">
                <div class="col-md-9 col-sm-9 col-xs-6 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="50%">
                <span class="heading">Contact Us</span>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="50%">
                <span class="inner-link">
                <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
               </span>
                <span class="inner-link">Contact Us</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-wrap">
    <div class="container">
        <div class="row">

        <h1 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="90%" style="margin-bottom:15px;">
            Get in Touch</h1>
        
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="contact">
            <p class="jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="75%">
            We are very approachable and would love to speak to you. <br> Feel free to call, email, tweet or simply complete the inquiry form.</p>
            <p class="jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="75%">
            <span>1231 Lafayette Ave. 2nd Floor</span>
            <span>Bronx, NY 10474</span> 
             <a href="mailto:mail@compname.com">funddos@gmail.com</a>
            <span>1-800-FUNDDOs</span> 
            </p>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-12">
        	<div class="contact">
            	<div class="expMessage"></div>
               <form method="post" id="contact-form" class="jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="75%">
                   <div class="form-group">
                    <label for="formInput[name]">Name</label>
                    <input type="text" class="form-control" id="exampleInputName" name="formInput[name]" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <label for="formInput[email]">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="formInput[email]" placeholder="Name@domain.com" required>
                  </div>
                  <div class="form-group">
                    <label for="formInput[name]">Message</label>
                    <textarea name="formInput[message]" rows="3"></textarea>
                  </div>
              
              <button type="submit" class="btn btn-default">Submit</button>
              <input type="hidden" name="action" value="submitform">
            </form>
            
            </div>
        </div>
        
        </div> <!--ROW-->
    </div> <!--CONTAINER-->
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="80%">
          <div class="shape"></div>
           <div id="donate">
           <div class="logo">
           <img src="{% static 'images/donate.png' %}" alt="logo goes here">
           </div>
           <p>
            lorem ipsum dolor sit amet, consecte tur adipiscing elit.
            Nulla ornare port titor diam, a accumsan justo laoreet.
            Lorem ipsum dolor sit amet, consecte.
           </p>
           
           <span class="glyphicon glyphicon-home pull-left"></span>
             <address>2, Sector-63, Noida, 201301, Africa</address>
           
           <span class="glyphicon glyphicon-envelope pull-left"></span>
            <em>123 900 123 456</em>
           <br>
           <span class="glyphicon glyphicon-earphone pull-left"></span>
            <a href="#">contact@donate.com</a> 
           <div class="shape"></div>
           </div>
      </div>
      
      <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-1 jw-animate-gen noOpacity" data-gen="fadeInUp" data-gen-offset="85%"> <!--for twitter feed columns-->
       <div id="twitter">
       <div class="shape"></div>
        <h3>INSTAGRAM FEED</h3>
        <p>
        <a href="#">@donate</a> Various versions have evolved over the years, 
        sometimes by accident, 
        sometimes on purpos. <br>
         <strong>2 hours ago </strong>
        </p>
        <p>
        <a href="#">@donate</a> Various versions have evolved over the years, 
        sometimes by accident, 
        sometimes on purpos.<br> 
        <strong>2 hours ago </strong> 
        </p>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-1 jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="75%">
      <div id="latest-work" class="pull-right">
       <div class="shape"></div>
        <h3><a href="{% url 'gallery' %}">GALLERY</a></h3>
        <!-- <img src="{{images.0}}" width="80" height="61"> -->
        <img src="{% static 'images/latest2.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest3.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest4.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest5.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest6.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest7.png' %}" width="80" height="61" alt="latest pictures">
        <!-- <img src="{% static 'images/latest8.png' %}" width="80" height="61" alt="latest pictures"> -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}