{% extends 'base.html' %}
{% load static %}
<head>
  <title>{% block title %}Funders{% endblock %}</title>
</head>
{% block body_block %}

<!-- <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div class="load_title">Funders</div>
</div> -->

<section class="grey">
    <div class="container">
        <div class="row">
            <div class="top-nav2">
                <div class="col-md-9 col-sm-9 col-xs-6 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="50%">
                <span class="heading">Funders</span>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="50%">
                <span class="inner-link">
                <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
               </span>
                <span class="inner-link">Funders</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="events-wrap">

    <div class="container">

      <div class="row">
        
        {% for user in user_location %}
        {% if user.your_location = 1 and user.funder = True %}
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="causes-nav">  
            <div class="events jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
              <span class="description-pics">
                <img src="{{user.picture.url}}" alt="main events" class="img-responsive">  
              </span>

                <div class="event-box">
                  <a href="{% url 'profile' user %}">{{user}}</a>
                    <div class="row"> 
                        <p><i class="fa fa-scissors"></i>{{user.bio}}</p>
                      </div>
                      <div class="row">
                        <p class="text-center"><i class="fa fa-map-scissors"></i>{{user.services}}</p>
                      </div>   
                      <div class="row">
                        <p> <a href="{% url 'profile' user %}">Profile</a>                      
                      </div>  
                    </div> <!--ROW FOR TEXT-->    
                </div><!-- ./event-box -->

            </div><!--DETAILED EVENTS WITH FEATURED IMG-->
          </div><!-- ./causes-nav -->
        </div>
        {% endif %}
        {% endfor %}

        {% for user in user_location %}
        {% if user.your_location = 2 and user.funder = True %}
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="causes-nav">  
            <div class="events jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
              <span class="description-pics">
                <img src="{{user.picture.url}}" alt="main events" class="img-responsive">  
              </span>

                <div class="event-box">
                  <a href="{% url 'profile' user %}">{{user}}</a>
                    <div class="row"> 
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><i class="fa fa-scissors"></i>{{user.bio}}</p>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="text-right"><i class="fa fa-map-scissors"></i>{{user.services}}</p>
                      </div>     
                    </div> <!--ROW FOR TEXT-->    
                </div><!-- ./event-box -->


            </div><!--DETAILED EVENTS WITH FEATURED IMG-->
          </div><!-- ./causes-nav -->
        </div>
        {% endif %}
        {% endfor %}

        {% for user in user_location %}
        {% if user.your_location = 3 and user.funder = True %}
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="causes-nav">  
            <div class="events jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
              <span class="description-pics">
                <img src="{{user.picture.url}}" alt="main events" class="img-responsive">  
              </span>

                <div class="event-box">
                  <a href="{% url 'profile' user %}">{{user}}</a>
                    <div class="row"> 
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><i class="fa fa-scissors"></i>{{user.bio}}</p>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="text-right"><i class="fa fa-map-scissors"></i>{{user.services}}</p>
                      </div>     
                    </div> <!--ROW FOR TEXT-->    
                </div><!-- ./event-box -->


            </div><!--DETAILED EVENTS WITH FEATURED IMG-->
          </div><!-- ./causes-nav -->
        </div>
        {% endif %}
        {% endfor %}

        {% for user in user_location %}
        {% if user.your_location = 4 and user.funder = True %}
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="causes-nav">  
            <div class="events jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
              <span class="description-pics">
                <img src="{{user.picture.url}}" alt="main events" class="img-responsive">  
              </span>

                <div class="event-box">
                  <a href="{% url 'profile' user %}">{{user}}</a>
                    <div class="row"> 
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><i class="fa fa-scissors"></i>{{user.bio}}</p>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="text-right"><i class="fa fa-map-scissors"></i>{{user.services}}</p>
                      </div>     
                    </div> <!--ROW FOR TEXT-->    
                </div><!-- ./event-box -->


            </div><!--DETAILED EVENTS WITH FEATURED IMG-->
          </div><!-- ./causes-nav -->
        </div>
        {% endif %}
        {% endfor %}

        {% for user in user_location %}
        {% if user.your_location = 5 and user.funder = True %}
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="causes-nav">  
            <div class="events jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
              <span class="description-pics">
                <a href="{% url 'profile' user %}"><img src="{{user.picture.url}}" alt="main events" class="img-responsive"></a> 
              </span>

                <div class="event-box">
                  <a href="{% url 'profile' user %}">{{user}}</a>
                    <div class="row"> 
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><i class="fa fa-scissors"></i>{{user.bio}}</p>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="text-right"><i class="fa fa-map-scissors"></i>{{user.services}}</p>
                      </div>     
                    </div> <!--ROW FOR TEXT-->    
                </div><!-- ./event-box -->


            </div><!--DETAILED EVENTS WITH FEATURED IMG-->
          </div><!-- ./causes-nav -->
        </div>
        {% endif %}
        {% endfor %}

      </div>
                                
                
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">    
                      <div class="pages text-center jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="70%">
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&#60;</span>
                          </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&#62;</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    </div>
                </div> 
                
            </div> <!--COL-8-->
        </div> <!--ROW OF ALL CONTENT-->
    </div> <!--CONTAINER-->
</section>

{% endblock %}