<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Evants : Details</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/animate-custom.css">
<link rel="stylesheet" type="text/css" href="css/loader.css">
</head>

<body>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div class="load_title">Donate Premier HTML</div>
</div>
<header id="header" class="affix">
	<div class="container">
    	<div class="row">
        	<div class="logo col-md-3 col-sm-3 col-xs-4">
            	<a href="index.html">
                <img src="images/logo.png" alt="logo" class="img-responsive"></a>
            </div>
            <nav class="navbar navbar-default menu col-md-9 col-sm-9 col-xs-8">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse nav-collapse">
                	<ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html"> Home </a></li>
                        <li><a href="about.html"> About </a></li>
                        <li class="dropdown">
                         <a data-toggle="dropdown" class="dropdown-toggle" href="causes.html">
                         Causes <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="causes.html">Causes</a>  
                           </li>
                           <li role="presentation" class="divider"></li>
                           <li>
                                <a href="causes-detail.html">Causes Details</a>
                           </li>
                          </ul>
                          </li>
                         <li class="dropdown">
                          <a data-toggle="dropdown" class="dropdown-toggle" href="events.html">                          Events<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li>
                                <a href="events.html">Events</a> 
                           </li>
                           <li role="presentation" class="divider"></li>
                           <li>
                                <a href="event-detail.html">Events Details</a>
                           </li>
                          </ul>
                          </li>
                          <li><a href="gallery.html">Gallery</a></li>
                          <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
               </div>
           </nav>
        </div>
    </div>
</header> <!--HEADER ENDS-->

<section class="grey">
    <div class="container">
        <div class="row">
            <div class="top-nav2">
                <div class="col-md-9 col-sm-7 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="30%">
                <span class="heading">hungry african childrens</span>
                </div>
                <div class="col-md-3 col-sm-5 col-xs-12 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="30%">
                <span class="inner-link">
                <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
               </span>
                <span class="inner-link">Hungry African Childrens</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="events-wrap">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="causes-nav">
                   <div class="events jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
                    	<span class="description-pics">
                        	<img src="images/hungry-children.jpg" alt="main events" class="img-responsive">  
                        </span>
                        <div class="event-box">
                          <h1>Hungry Africa Childrens</h1>
                            <div class="row"> 
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                <p><i class="fa fa-calendar"></i>10 March, 2015 at 9:00 am - 11:00 am</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                <p class="text-right"><i class="fa fa-map-marker"></i>
                                New York Street, Sanford, LL 00215</p>
                                </div>
                                
                            </div> <!--ROW FOR TEXT-->
                            
                        </div>
                    </div>  <!--DETAILED EVENTS WITH FEATURED IMG-->
                    
                    <div class="events jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="70%">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor justo purus, quis laoreet turpis scelerisque sed. Donec consequat, nunc sed posuere varius, eros tortor egestas odio, vitae scelerisque turpis ligula vitae massa. Nunc tincidunt laoreet tincidunt. Suspendisse potenti. Etiam sapien libero, rhoncus nec lorem sed, suscipit interdum eros. Praesent adipiscing imperdiet consectetur. Pellentesque lacinia bibendum velit consectetur mollis. Vestibulum blandit turpis ut mattis porttitor. Sed massa arcu, malesuada in vehicula et, venenatis ut magna. Donec massa enim, porta et consectetur et, aliquet ac mi.</p>
                    <p>Phasellus massa eros, vestibulum non arcu vitae, lacinia mattis augue. Pellentesque consectetur purus nunc, eget interdum turpis euismod et. Donec auctor bibendum semper. Suspendisse velit velit, laoreet vel accumsan venenatis, iaculis a quam. Praesent vestibulum mollis leo. Nullam congue urna id rhoncus elementum. Phasellus id eros at lectus lacinia luctus. In mattis, tellus non faucibus consectetur, leo mi mattis lacus, eu dignissim dui sapien rhoncus nisl.</p>
                    <p>
                    Etiam semper viverra sodales. Vestibulum at egestas leo. Nulla non luctus metus. Morbi dapibus nulla porttitor fermentum pellentesque. Maecenas non lacus felis. Donec turpis erat, ornare in ligula quis, aliquet facilisis nunc. Suspendisse interdum eleifend nisi vitae sodales. Nam sagittis venenatis sapien, in hendrerit nisl lobortis sed. Aliquam vestibulum mauris sit amet quam sodales, et volutpat lectus dictum. 
                    </p>
                    	
                        
                    </div>
                    
                    <div class="events">
                    <h1 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="75%">
                    Locate the Location</h1>
                        <div class="maps jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="75%">
                        <div id="googleMap"></div>
                        </div> <!--MAP-->
                    </div>
                    
                    <div class="event-btn">
                        <div class="jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="80%">
                            <a href="#" class="pull-left">
                                <i class="fa fa-long-arrow-left"></i>Previous Event
                            </a>
                        </div>
                        <div class="jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="80%">       
                            <a href="#" class="pull-right">
                            Next Event<i class="fa fa-long-arrow-right"></i></a>
                       </div>
                    </div>
                    
                </div>
                
                 
                
            </div> <!--COL-8-->
            
            <div class="col-md-4 col-sm-4 col-xs-12">
            
              <div class="latest-causes jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="65%">
                    <h1>PAST EVENTS</h1>
                    <span class="border"></span>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="images/past-event1.png" alt="latest causes" class="img-responsive">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                        <a href="event-detail.html">Stop Children Hunger</a>
                        <p><i class="fa fa-calendar"></i>10 Dec, 2014 at 9:00 am - 21:00 pm</p>
                        </div>
                    </div> 
                </div>
                
              <div class="latest-causes jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="75%">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="images/past-event2.png" alt="latest causes" class="img-responsive">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                        <a href="event-detail.html">Charity Soccer Match</a>
                        <p><i class="fa fa-calendar"></i>8 Jan, 2015 at 9:00 am - 21:00 pm</p>
                        </div>
                    </div> 
                </div> 
                
              <div class="latest-causes jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="75%">
                  <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="images/past-event3.png" alt="latest causes" class="img-responsive">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                        <a href="event-detail.html">Musical Night - Charity</a>
                        <p><i class="fa fa-calendar"></i>12 Jan, 2015 at 9:00 pm - 24:00 pm</p>
                        </div>
                    </div> 
                </div>
                
              <div class="latest-causes jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="70%">
                    <h1>LATEST CAUSES</h1>
                    <span class="border"></span>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                       <img src="images/latest-causes1.png" alt="latest causes" class="img-responsive">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                        <a href="causes-detail.html">Help Girls to get Education</a>
                        <p>Lorem ipsum dolor sit amet, consecte tur scing elit. Nulla ornare port titor diam, a accumsan justo laoreet lortem ipsum.</p>
                        </div>
                    </div> 
                </div>
                
              <div class="latest-causes jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="70%">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                       <img src="images/latest-causes2.png" alt="latest causes" class="img-responsive">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                        <a href="causes-detail.html">South African Girls Education</a>
                        <p>Lorem ipsum dolor sit amet, consecte tur scing elit. Nulla ornare port titor diam, a accumsan justo laoreet lortem ipsum.</p>
                        </div>
                    </div> 
                </div>
                
              <div class="latest-causes jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="70%">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                       <img src="images/latest-causes3.png" alt="latest causes" class="img-responsive">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                        <a href="causes-detail.html">Ipsum Set Emt ret it Not</a>
                        <p>Lorem ipsum dolor sit amet, consecte tur scing elit. Nulla ornare port titor diam, a accumsan justo laoreet lortem ipsum.</p>
                        </div>
                    </div> 
                </div>
                
              <div class="latest-causes clearfix jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="70%">
                <h1>GALLARY</h1>
                    <span class="border"></span>
                    <a href="gallery.html">
              <img src="images/gallery1.png" alt="latest pictures" class="img-responsive gallery">
              </a>
              <a href="gallery.html">
              <img src="images/gallery2.png" alt="latest pictures" class="img-responsive gallery">
              </a>
              <a href="gallery.html">
              <img src="images/gallery3.png" alt="latest pictures" class="img-responsive gallery">
              </a>
              <a href="gallery.html">
              <img src="images/gallery4.png" alt="latest pictures" class="img-responsive gallery">
              </a>
              <a href="gallery.html">
              <img src="images/gallery5.png" alt="latest pictures" class="img-responsive gallery">
              </a>
              <a href="gallery.html">
              <img src="images/gallery6.png" alt="latest pictures" class="img-responsive gallery">
              </a>
              
              <div class="clearfix"></div> 
              </div>
                
                       
            </div> <!--COL-4-->
            
            
        </div> <!--ROW OF ALL CONTENT-->
    </div> <!--CONTAINER-->
</section>


<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="80%">
          <div class="shape"></div>
           <div id="donate">
           <div class="logo">
           <img src="images/donate.png" alt="logo goes here">
           </div>
           <p>
            lorem ipsum dolor sit amet, consecte tur adipiscing elit.
            Nulla ornare port titor diam, a accumsan justo laoreet.
            Lorem ipsum dolor sit amet, consecte.
           </p>
           <span class="glyphicon glyphicon-home pull-left"></span>
             <address>2, Sector-63, Noida, 201301, Africa</address>
           
           <span class="glyphicon glyphicon-envelope pull-left"></span>
            <em>123 900 123 456</em>
           <br>
           <span class="glyphicon glyphicon-earphone pull-left"></span>
            <a href="#">contact@donate.com</a> 
           <div class="shape"></div>
           </div>
      </div>
      
      <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-1 jw-animate-gen noOpacity" data-gen="fadeInUp" data-gen-offset="85%"> <!--for twitter feed columns-->
       <div id="twitter">
       <div class="shape"></div>
        <h3>TWITTER FEED</h3>
        <p>
        <a href="#">@donate</a> Various versions have evolved over the years, 
        sometimes by accident, 
        sometimes on purpos. <br>
         <strong>2 hours ago </strong>
        </p>
        <p>
        <a href="#">@donate</a> Various versions have evolved over the years, 
        sometimes by accident, 
        sometimes on purpos.<br> 
        <strong>2 hours ago </strong> 
        </p>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-1 jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="75%">
      <div id="latest-work" class="pull-right">
       <div class="shape"></div>
        <h3>Gallary</h3>
        <img src="images/latest1.png" width="80" height="61" alt="latest pictures">
        <img src="images/latest2.png" width="80" height="61" alt="latest pictures">
        <img src="images/latest3.png" width="80" height="61" alt="latest pictures">
        <img src="images/latest4.png" width="80" height="61" alt="latest pictures">
        <img src="images/latest5.png" width="80" height="61" alt="latest pictures">
        <img src="images/latest6.png" width="80" height="61" alt="latest pictures">
        <img src="images/latest7.png" width="80" height="61" alt="latest pictures">
        <img src="images/latest8.png" width="80" height="61" alt="latest pictures">
        </div>
      </div>
    </div>
  </div>
</section>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="jw-animate-gen noOpacity" data-gen="fadeIn" data-gen-offset="70%">
              &copy; 2015 ewebcraft. All Rights Reserved.
            </p>
            </div>
        </div>
    </div>
</footer>



<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/waypoints.js"></script>
<script src="js/smoothScroll.js"></script>
<script src="js/maps.js"></script>
<script src="js/hoverintent.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize); <!-- end gooogle map -->
</script>


</body>
</html>
