{% extends 'base.html' %}
{% load static %}
  <head>
    <title>{% block title %}Fund Do's Home{% endblock %}</title>
  </head>
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<!-- <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
      <div class="load_title">Fund Do's</div>
  </div> -->

{% if user.is_authenticated %}

  <section class="grey">
      <div class="container">
          <div class="row">
              <div class="top-nav2">
                  <div class="col-md-9 col-sm-9 col-xs-6 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="50%">
                  <span class="heading">Inbox</span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="50%">
                  <span class="inner-link">
                  <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
                 </span>
                  <span class="inner-link">Inbox</span>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <div class="inbox">
    <h1>Welcome <a href="{% url 'profile' user.username %}">{{user.username}}</a></h1><br>

    <h1>Recent Requests</h1>
      <u1 class="list-group">
        {% for req in recent_requests %}
        <li class="list-group-item"><a href="/requests/{{req.id}}"><p>{{ req.title }}</p></a></li>
        {% endfor %}
      </u1>
      <br>
      
    <!--   {% if user == profile.funder %}
        <a href="{% url 'jobseekers' %}">Jobseekers by location</a><br>
      {% endif %}
      {% if profile.jobseeker %}
        <a href="{% url 'funders' %}">Funders by location</a><br>
      {% endif %} -->
  </div>

{% else %}


<section class="slider">

     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        
        <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{% static 'images/banner.jpg' %}" alt="banner1"> 
              	<div class="container">
              		<div class="carousel-caption">
                <h1 class="jw-animate-gen noOpacity" data-gen-offset="50%" data-gen="fadeInDown">
                Donate & Help
                </h1>
                <h2 class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeInLeftBig">
                 African Children for Education</h2>
                <p class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeInLeftBig">
                   Lorem ipsum dolor sit amet, consectetur adipisici elit, sed           eiusmod tempor incidunt ut labore et dolore magna aliqua.           Idque Caesaris. Lorem ipsum dolor sit amet, con
                </p>
                <a href="#" class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeIn">
                Donate now
                </a>

              </div>
              
                </div>
            </div>
            
            <div class="item">
              <img src="{% static 'images/banner2.jpg' %}" alt="banner1">
              <div class="container">
              	<div class="carousel-caption">
                    <h1 class="jw-animate-gen noOpacity" data-gen-offset="50%" data-gen="fadeInDown">
                    Donate &amp; Help
                    </h1>
                    <h2 class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeInLeftBig">
                     African Children for Education</h2>
                    <p class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeInLeftBig">
                       Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris. Lorem ipsum dolor sit amet, con
                    </p>
                    <a href="#" class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeIn">
                    Donate now
                    </a>

              </div>
              </div>
            </div>
            
            <div class="item">
              <img src="{% static 'images/banner.jpg' %}" alt="banner1">
                <div class="container">
              	<div class="carousel-caption">
                <h1 class="jw-animate-gen noOpacity" data-gen-offset="50%" data-gen="fadeInDown">
                Donate & Help
                </h1>
                <h2 class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeInLeftBig">
                 African Children for Education</h2>
                <p class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeInLeftBig">
                   Lorem ipsum dolor sit amet, consectetur adipisici elit, sed           eiusmod tempor incidunt ut labore et dolore magna aliqua.           Idque Caesaris. Lorem ipsum dolor sit amet, con
                </p>
                <a href="#" class="jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeIn">
                Donate now
                </a>

              </div>
              </div>
              
            </div>
        </div>
      
      </div>
  </section> <!--slider div-->



<!--some text about us and heading-->
<div class="container padding">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
         <section class="about-us text-center">
          <h1 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="90%">
          About Us</h1>
          <hr class="center-diamond">
          <p class="jw-animate-gen noOpacity" data-gen="fadeInUp" data-gen-offset="100%">
           Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port            titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem           ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor            diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum           dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, 
          </p>
      
 
         </section>
        </div>
    </div>
</div> <!--container about us section-->



<!--section educate children to all with child pics and text boxes -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
         <div class="helping-child">
          	<h1 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="90%">
            Recent Transformations</h1>
            <hr class="center-diamond">
          </div>
       </div>
    </div>
</div>
           

<div class="child-pics text-center">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row"> 
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeIn" data-gen-offset="90%"> 
              <div class="row">
              <div class="yellowbox">
                  <span><img src="{% static 'images/heart.png' %}" alt="heart"></span>
                  <a href="{% static 'causes-detail.html' %}">helping children</a>
               <p>
                  Lorem ipsum dolor sit amet, consecte tur adipiscing elit. 
                  Nulla ornare port titor diam, a accumsan justo laoreet.Lorem 
                  ipsum dolor sit amet, consecte.
                  </p>
                  </div>
                <span class="imgbox">
                <img src="{% static 'images/child2.png' %}" alt="child1" class="update-parent"> 
               </span>
                  
              </div> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeIn" data-gen-offset="80%">
             <div class="row">
              
               <span class="imgbox">
                <img src="{% static 'images/child1.png' %}" alt="child1" class="update-parent"> 
               </span>
               <div class="yellowbox">
                  <span><img src="{% static 'images/pencil.png' %}" alt="heart"></span>
                  <a href="{% static 'causes-detail.html' %}">Education for all</a>
               <p>
                  Lorem ipsum dolor sit amet, consecte tur adipiscing elit. 
                  Nulla ornare port titor diam, a accumsan justo laoreet.Lorem 
                  ipsum dolor sit amet, consecte.
                  </p>
                  </div>
                  
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeIn" data-gen-offset="70%">
             <div class="row">
              <div class="yellowbox">
                  <span><img src="{% static 'images/right-sign.png' %}" alt="heart"></span>
                  <a href="{% static 'causes-detail.html' %}">Ensuring better life</a>
               <p>
                  Lorem ipsum dolor sit amet, consecte tur adipiscing elit. 
                  Nulla ornare port titor diam, a accumsan justo laoreet.Lorem 
                  ipsum dolor sit amet, consecte.
                  </p>
                  </div>
                  <span class="imgbox">
                <img src="{% static 'images/child3.png' %}" alt="child1" class="update-parent"> 
               </span>
              </div>
              
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
      
      
      <div class="clearfix"></div>

</div>


<section class="need-help text-center">
    <div class="container padding">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                     <h1 class="jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeInDown">
                     We need your help</h1>
                     <hr class="yellow-diamond">
                     
                     <h4 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="80%">
                      Let’s Stop This hunger and fullfill their happiness</h4>
                     <p class="jw-animate-gen noOpacity" data-gen="fadeInUp" data-gen-offset="75%">
                     Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                     Cum sociis natoque penatibus et magnis dis parturient montes, nascetur                 ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis                 consectetur purus sit amet fermentum
                     </p>
            </div>
        </div>
    </div>
</section>


<section class="parent-dimond">
  <div class="container">
    <div class="row">
    <div class="details clearfix">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeInUp">
              <div class="diamond">
              	<i class="fa fa-tasks"></i>
               
              </div>
              <div class="diamond-inner">
                    <span class="stat-count highlight">58</span>
                    <div class="milestone-details">Program</div>
                </div>
              
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12 text-center jw-animate-gen noOpacity" data-gen-offset="85%" data-gen="fadeInUp">
              <div class="diamond">
              <i class="fa fa-child"></i>
              </div>
               <div class="diamond-inner">
                 <span class="stat-count highlight">1458</span>
                 <div class="milestone-details"><h6>children</h6></div> 
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12 text-center jw-animate-gen noOpacity" data-gen-offset="82%" data-gen="fadeInUp">
              <div class="diamond">
                <i class="fa fa-users"></i>
              </div>
              <div class="diamond-inner">
                 <span class="stat-count highlight">590</span>
                 <div class="milestone-details"><h6>Charitable</h6></div> 
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12 text-center jw-animate-gen noOpacity" data-gen-offset="78%" data-gen="fadeInUp">
              <div class="diamond">
              <i class="fa fa-usd"></i>
              </div>
              <div class="diamond-inner">
                 <span class="stat-count highlight">2278</span>
                 <div class="milestone-details"><h6>Donation</h6></div> 
                </div>
     
            </div>
     </div>
     </div>
  </div>
</section>


<!--recent updates section starts-->
<section id="recents">
    <div class="container padding">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="90%">Recent Jobseekers</h1>
                <hr class="center-diamond">
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeIn">
                   <span class="update-image">
                   <img src="{% static 'images/update1.png' %}" alt="recent update one" class="update-parent">
                   </span>
                   <div class="update-white">
                   <span>
                   <i class="fa fa-pencil"></i>
                   </span>
                   <h3>Care for children</h3>
                   
                   <p>
                    Lorem ipsum dolor sit amet, consecte tur adipiscing elit.
                     Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor                 sit amet, consecte.
                   </p>
                   <a href="{% url 'funder_profile' %}" target="_blank"> Read more</a>
                   </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen-offset="87%" data-gen="fadeIn">
                  <span class="update-image">
                  <img src="{% static 'images/update2.png' %}" alt="recent update one" class="update-parent">
                  </span>
                  <div class="update-white">
                     <span> 
                     <i class="fa fa-home"></i>
                     </span>
                     <h3>Our Children Matter</h3>
                     <p>
                      Lorem ipsum dolor sit amet, consecte tur adipiscing elit.
                     Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor                 sit amet, consecte.
                     </p>
                     <a href="{% url 'funder_profile' %}" target="_blank"> Read more</a>
                  </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen-offset="78%" data-gen="fadeIn">
                  <span class="update-image">
                  <img src="{% static 'images/update3.png' %}" alt="recent update one" class="update-parent">
                  </span>
                  <div class="update-white">
                     <span> 
                     <i class="fa fa-medkit"></i>
                     </span>
                     <h3>A Madical Post Format</h3>
                     <p>
                      Lorem ipsum dolor sit amet, consecte tur adipiscing elit.
                     Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor                 sit amet, consecte.
                     </p>
                     <a href="{% url 'funder_profile' %}" target="_blank"> Read more</a>
                  </div>
              </div>
         </div>
        </div>
</section>

<!--containing multiple logos-->
<section class="sponspors"> 
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1 class="jw-animate-gen noOpacity" data-gen="fadeInDown" data-gen-offset="90%">
            Testimonals</h1>
                <hr class="center-diamond">
        </div> 
        
        <div class="col-md-12 col-sm-12 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeIn" data-gen-offset="90%">
        
         <ul id="flexiselDemo3">
            <li><img src="{% static 'images/logo1.png' %}" alt="logo slides"></li>
            <li><img src="{% static 'images/logo2.png' %}" alt="logo slides"></li>
            <li><img src="{% static 'images/logo3.png' %}" alt="logo slides"></li>
        </ul> 
          
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="80%">
          <div class="shape"></div>
           <div id="donate">
           <div class="logo">
           <img src="{% static 'images/donate.png' %}" alt="logo goes here">
           </div>
           <p>
            lorem ipsum dolor sit amet, consecte tur adipiscing elit.
            Nulla ornare port titor diam, a accumsan justo laoreet.
            Lorem ipsum dolor sit amet, consecte.
           </p>
           
           <span class="glyphicon glyphicon-home pull-left"></span>
             <address>2, Sector-63, Noida, 201301, Africa</address>
           
           <span class="glyphicon glyphicon-envelope pull-left"></span>
            <em>123 900 123 456</em>
           <br>
           <span class="glyphicon glyphicon-earphone pull-left"></span>
            <a href="#">contact@donate.com</a> 
           <div class="shape"></div>
           </div>
      </div>
      
      <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-1 jw-animate-gen noOpacity" data-gen="fadeInUp" data-gen-offset="85%"> <!--for twitter feed columns-->
       <div id="twitter">
       <div class="shape"></div>
        <h3>INSTAGRAM FEED</h3>
        <p>
        <a href="#">@donate</a> Various versions have evolved over the years, 
        sometimes by accident, 
        sometimes on purpos. <br>
         <strong>2 hours ago </strong>
        </p>
        <p>
        <a href="#">@donate</a> Various versions have evolved over the years, 
        sometimes by accident, 
        sometimes on purpos.<br> 
        <strong>2 hours ago </strong> 
        </p>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-1 jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="75%">
      <div id="latest-work" class="pull-right">
       <div class="shape"></div>
        <h3><a href="{% url 'gallery' %}">GALLERY</a></h3>
        <!-- <img src="{{images.0}}" width="80" height="61"> -->
        <img src="{% static 'images/latest2.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest3.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest4.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest5.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest6.png' %}" width="80" height="61" alt="latest pictures">
        <img src="{% static 'images/latest7.png' %}" width="80" height="61" alt="latest pictures">
        <!-- <img src="{% static 'images/latest8.png' %}" width="80" height="61" alt="latest pictures"> -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %}

{% endblock %}

<script type="text/javascript">
(function($) {
"use strict";
   $("#flexiselDemo3").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,            
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:480,
                visibleItems: 1
            }, 
            landscape: { 
                changePoint:640,
                visibleItems: 2
            },
            tablet: { 
                changePoint:768,
                visibleItems: 3
            }
        }
    });
  $(".stat-count").each(function() {
    $(this).data('count', parseInt($(this).html(), 10));
    $(this).html('0');
    count($(this));
    speed: 5000 // how long it should take to count between the target numbers
  });
})(jQuery);

</script>