{% extends 'base.html' %}
{% load static %}
  <head>
    <title>{% block title %}Login{% endblock %}</title>
  </head>
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">


<!-- <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
      <div class="load_title">Fund Do's</div>
  </div> -->

<section class="grey">
      <div class="container">
          <div class="row">
              <div class="top-nav2">
                  <div class="col-md-9 col-sm-9 col-xs-6 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="50%">
                  <span class="heading">Login</span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="50%">
                  <span class="inner-link">
                  <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
                 </span>
                  <span class="inner-link">Login</span>
                  </div>
              </div>
          </div>
      </div>
</section>


<div class="form">
	<form class="form-signin" id="login_form" method="post" action="/login/">
		<h2 class="form-sigin-heading">Login</h2>
		{% csrf_token %}
		
		<input class="form-control" placeholder="Username" type="text" name="username" value="" size="50" required autofocus>

		<input class="form-control" placeholder="Password" type="Password" name="password" value="" size="50" required >
		<br>
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" > Sign In</button>
		<p class="message">Not registered?<br>
	      <a href="{% url 'register_jobseeker' %}">Register As Jobseeker</a><br>
		  <a href="{%url 'register_funder' %}">Register As Funder</a>
		</p>
	</form>
</div>
    

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <p>
              &copy; 2016 Fund Do's. All Rights Reserved.
            </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}