{% extends 'base.html' %}
{% load static %}
  <head>
    <title>{% block title %}{{profile.user.username}}'s Profile{% endblock %}</title>
  </head>
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

<section class="grey">
      <div class="container">
          <div class="row">
              <div class="top-nav2">
                  <div class="col-md-9 col-sm-9 col-xs-6 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="50%">
                  <span class="heading">{{profile.user.username}}'s Profile</span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="50%">
                  <span class="inner-link">
                  <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
                 </span>
                  <span class="inner-link">Profile</span>
                  </div>
              </div>
          </div>
      </div>
  </section>

<figure class="snip0056">
    <figcaption>
      {% if profile.jobseekers = True %}
      <h2>{{profile.first_name}} <span>{{profile.last_name}}</span></h2>
      {% else %}
      <h2>{{profile.user.username}}</span></h2>
      <p><b>{{profile.bio}}</b></p>
      {% endif %}
      {% if profile.funder = True %}
      <p>{{profile.services}}</p>
      {% endif %}
       {% if requests %}
	      {% for req in requests %}
	      <p>{{req.request}}</p>
	      {% endfor %}
	   {% endif %}
    </figcaption>
    {% if profile.picture %}
    <img src="{{profile.picture.url}}" alt="sample8" />
    {% else %}
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample8.jpg" alt="sample8" class="img-responsive" />
    {% endif %}
    <a href=""></a>
    {% if profile.jobseeker = True %}
    <a href="{% url 'home' %}"></a><div class="position"><button class="btn btn-default" type="submit"><b>Fund {{profile.user.username}}</b></button></div></a>
    {% else %}
    <div class="position"></div>
    {% endif %}
  </figure>

{% endblock %}