{% extends 'base.html' %}
{% load static %}
  <head>
    <title>{% block title %}Register{% endblock %}</title>
  </head>
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

<section class="grey">
      <div class="container">
          <div class="row">
              <div class="top-nav2">
                  <div class="col-md-9 col-sm-9 col-xs-6 jw-animate-gen noOpacity" data-gen="fadeInLeft" data-gen-offset="50%">
                  <span class="inner-link"><a href="{% url 'login' %}">Back</a></span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 text-right jw-animate-gen noOpacity" data-gen="fadeInRight" data-gen-offset="50%">
                  <span class="inner-link">
                  <a href="index.html">Home <i class="fa fa-angle-double-right"></i></a>
                 </span>
                  <span class="inner-link">Login</span> <i class="fa fa-angle-double-right"></i></a>
                 </span>
                  <span class="inner-link">Register</span>
                  </div>
              </div>
          </div>
      </div>
</section>

<div class="container-fluid">
		<div class="form pre-scrollable">
			{% if registered %}
			<strong>Thanks for registering!</strong><br>
			<a href="{% url 'index' %}">Return Home</a>
			{% else %}
			<strong class="form-signin-heading"><h2>Jobseekers Registration</h2></strong>

			<form class="form-signin" id='user_form' method ='post' action ='/register_jobseeker/' enctype="multipart/form-data">
				{% csrf_token %}

				{% for field in user_form.visible_fields %}
				<div class='form-group'>
					{{field.errors}}<br>
					{{field.help_text}}<br>
					{{field.label}}
					{{field}}
				</div>
				{% endfor %}

				{% for field in profile_form.visible_fields %}
				<div class="form-group">
					{{field.errors}}<br>
					{{field.help_text}}<br>
					{{field.label}}
					{{field}}
				</div>
				{% endfor %}
				<br>
				<button class="btn btn-lg btn-primary btn-block" type="submit" value="submit"> Register</button>
			</form>
			{% endif %}
		</div>
</div>
    

	<footer id="footer">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12 col-sm-12 col-xs-12">
	            <p>
	              &copy; 2016 Fund Do's. All Rights Reserved.
	            </p>
	            </div>
	        </div>
	    </div>
	</footer>

{% endblock %}